# Example configuration file for MovieGuide

[reddit]

# Username and password for logging in to reddit.
username=MovieGuide
password=secret

# Subredit to monitor (a multireddit works too).
subreddit=MovieGuide_sandbox+example+null

# Mode for fetching {new,rising,hot,top-{hour,day,week,month,year,all}}.
mode=new

[settings]

# Database file to store current state, history, etc.
database=movieguide.db

# Signature file to sign posts with (optional).
#
# This file will be inserted at the end of every comment, with the
# following substitutions:
#     {itemid}    item ID of the post being commented on.
#     {score}     confidence score from the IMDb search.
# Example:
#     *I am a bot.* [Send me feedback]
#     (/message/compose?to=nobody&subject=Re:%20http://redd.it/{itemid}
#     "Confidence: {score}").
signature=signature.txt

# URL for IMDb API endpoint.
imdburl=http://localhost:8051/imdb

# Filename to store heartbeat (optional).
heartbeat=/tmp/movieguide-heartbeat

[backup]
# (Optional) settings for database backups. Comment out these options
# if you don't want to send backups.

# URL to remote directory to store database backups. Will generate
# filename and PUT the backup into this directory. For example, if
# http://example/backup is specified, a backup might be sent in a PUT
# request to http://example/backup/20130724T050427Z-F-da39a3ee.gz.
url=http://www.myserver.example/dav/backup

# Username and password for backup directory.
username=MovieGuide
password=secret
